
.container {
    width:100vw;
    height:500px;
    display:flex;
    justify-content: center;
}

.play-wrapper {
    width:600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.play-path {
    width:100vw;
    display: flex;
    align-items: center;
    position:relative;
}