.daily__section {
  padding-top:40px;
}

.daily__new-content {
  border: 2px solid #9d223c;
  border-radius: 10px;
  padding:10px 20px;
  width: 80%;
}

.daily__simple-select {
  height: 30px;
  line-height: 30px;
  width: 150px;
  margin-left: 22px;
  margin-top: 10px;
}

