
.flex__row {
  display: flex;
  flex-direction: row;
}

$flex_number: 1,2,3;
@each $number in $flex_number {
  .flex__#{$number} {
    flex: $number;
  }
}

$flex_width: 300,400,500,600,700;
@each $width in $flex_width {
  .flex__#{$width} {
    width: #{$width}px;
  }
}


$bg_color: (lightgrey , lavender), (lightblue, lightblue);
@each $name, $bgc in $bg_color {
  .bg__#{$name} {
    background-color: $bgc;
  }
}

.margin__center {
  margin-left:auto;
  margin-right:auto;
}