* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black; }

body, html {
  width: 100%;
  height: 100%;
  overflow-y: hidden; }

ul {
  list-style: none; }

a {
  text-transform: none;
  text-decoration: none; }

img {
  vertical-align: middle; }

.flex__row {
  display: flex;
  flex-direction: row; }

.flex__1 {
  flex: 1; }

.flex__2 {
  flex: 2; }

.flex__3 {
  flex: 3; }

.flex__300 {
  width: 300px; }

.flex__400 {
  width: 400px; }

.flex__500 {
  width: 500px; }

.flex__600 {
  width: 600px; }

.flex__700 {
  width: 700px; }

.bg__lightgrey {
  background-color: lavender; }

.bg__lightblue {
  background-color: lightblue; }

.margin__center {
  margin-left: auto;
  margin-right: auto; }

.text__balance {
  color: #EBEDEC; }

.button__container_addbook {
  padding-top: 10px; }

.app__table-button {
  padding: 0px 10px;
  margin: 0px 5px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: white; }

.app__table-button_finish {
  background-color: lightcoral; }

.app__button_default {
  padding: 0px 10px;
  margin: 0px 5px;
  display: inline-block;
  background-color: #3d9970;
  height: 30px;
  line-height: 30px;
  color: white; }

.input__row {
  margin-bottom: 10px; }

.input__label {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  padding-left: 10px; }

.input__label_small {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  padding-left: 10px; }

.input__label_medium {
  display: inline-block;
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding-left: 10px; }

.input__label_large {
  display: inline-block;
  width: 120px;
  height: 20px;
  line-height: 20px;
  padding-left: 10px; }

.input__select {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px; }

.input___size_small {
  width: 80px;
  height: 30px;
  line-height: 30px; }

.input___size_medium {
  width: 100px;
  height: 30px;
  line-height: 30px; }

.input___size_large {
  width: 120px;
  height: 30px;
  line-height: 30px; }

.table__container {
  height: calc(100vh - 50px);
  overflow-y: scroll; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.pager__container {
  text-align: right;
  margin-right: 80px !important;
  margin-top: 10px !important; }

.pagination {
  margin: 0 !important; }

.app__leftmenu {
  background-color: steelblue;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px; }
  .app__leftmenu a {
    color: white; }

.daily__topbar {
  height: 40px;
  width: 100%;
  background-color: #01ff70;
  color: white;
  display: flex;
  align-items: center; }

.daily__content {
  height: calc(100vh - 40px);
  padding-top: 10px; }

.daily__section {
  padding-top: 40px; }

.daily__new-content {
  border: 2px solid #9d223c;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%; }

.daily__simple-select {
  height: 30px;
  line-height: 30px;
  width: 150px;
  margin-left: 22px;
  margin-top: 10px; }

.daily__list {
  padding-top: 40px;
  list-style: none; }
  .daily__list li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 10px; }
    .daily__list li.selected {
      background-color: lightsteelblue; }
      .daily__list li.selected span {
        color: white; }

.daily__item_index {
  width: 20px;
  display: inline-block; }

.daily__item_col {
  width: 80px;
  display: inline-block; }

.daily__item_col-long {
  width: 140px; }

.daily__form {
  padding-top: 40px; }

.daily__series_episode {
  margin-left: 22px;
  margin-top: 10px; }
  .daily__series_episode input {
    padding-left: 10px; }

.rbc-date-cell.rbc-now {
  font-weight: bold;
  background-color: #777;
  color: white; }

/*# sourceMappingURL=main.css.map */
