
.project-card {
  flex: 1 0;
  margin-bottom: 10px;
  display:flex;
  justify-content:center;
}

.project-card .card {
  min-width:250px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  box-sizing: border-box;
  height: 250px;
  border: 1px solid steelblue;
}

@media (min-width: 500px) {
  .project-card {
    min-width: 50%;
    max-width: 50%;
  }
}

@media (min-width: 890px) {
  .project-card {
    min-width: 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 1240px) {
  .project-card {
    max-width: 25%;
    min-width: 25%;
  }
}

@media (min-width: 1600px) {
 .project-card {
    min-width: 20%;
  }
}