
.daily__list {
   padding-top:40px;
   list-style:none;
}

.daily__item_index {
   width:20px;
   display: inline-block;
}
.daily__item_name {
   width:80px;
   display: inline-block;
}
.daily__item_hour {
   width:80px;
   display: inline-block;
}